name: goreleaser

on:
  pull_request:
  push:
    # run only against tags
    tags:
      - "*"

#  on:
#    push:
#      tags:
#        - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write
  # packages: write
  # issues: write
  # id-token: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest

    metadata:
      # Set the modified timestamp on the metadata files.
      #
      # Templates: allowed.
      mod_timestamp: "{{ .CommitTimestamp }}"

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Unshallow
        run: git fetch --prune --unshallow
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}

